#nav-bar {
    background-color:#0055a2;
}

.navbarbuttons {
    background-color: #0055a2;
    border-color: #000000;
    color:rgb(238, 238, 238);
}

.navbarbuttons:hover {
    border-color: #000000;
}

#navbarchart {
    background-color: #0055a2;
    color: rgb(238, 238, 238);
    margin-right: 10px;
}

#nav-brand {
    color:  rgb(238, 238, 238);
}

#dashboardLink {
    color: rgb(238, 238, 238);
}

#landingPageLink {
    text-decoration: none;
    color: aliceblue;
    
}

#dashboardLink:hover {
    text-decoration: none;
}

